# **Brady Analysis**

The point of this exercise to to analyze past nfl data and see if brady elevated his players or not. this is done by first creating a baseline of the player with brady, and how he did without.

In [308]:
#import libraries
import numpy as np
import pandas as pd
import re

In [309]:
#import data undo dataframes for each respective year
#data is from NFLsavant.com
df13 = pd.read_csv('pbp-2013.csv')
df14 = pd.read_csv('pbp-2014.csv')
df15 = pd.read_csv('pbp-2015.csv')
df16 = pd.read_csv('pbp-2016.csv')
df17 = pd.read_csv('pbp-2017.csv')
df18 = pd.read_csv('pbp-2018.csv')
df19 = pd.read_csv('pbp-2019.csv')
df20 = pd.read_csv('pbp-2020.csv')

In [310]:
#create a function to find all players associated with the QB per year
def name_bin(df, name):
    df_bin = []
    for x in df[(df['PlayType'] == 'PASS') & (df['IsIncomplete'] == 0)]['Description']:
        if name in x:
            x_re = re.compile(r'(\w\.\w+)')
            player = x_re.findall(x)
            #print(player)
            if player[1] not in df_bin:
                df_bin.append(player[1])
    return df_bin

#create bins of players for each respective year
bin_2013 = name_bin(df13, QB)
bin_2014 = name_bin(df14, QB)
bin_2015 = name_bin(df15, QB)
bin_2016 = name_bin(df16, QB)
bin_2017 = name_bin(df17, QB)
bin_2018 = name_bin(df18, QB)
bin_2019 = name_bin(df19, QB)
bin_2020 = name_bin(df20, QB)

In [311]:
#create a function to total yards and touchdown for the given year
def get_stats(name, df, year):
    year = str(year)
    year = year[2:]
    #print(year)
    total_yards = 0
    total_tds = 0
    for index, x in df[(df['PlayType'] == 'PASS')  & \
                       (df['GameDate'].str.contains(str(year))) & (df['IsInterception'] == 0) \
                      & (df['IsIncomplete'] == 0) & (df['IsPenaltyAccepted'] == 0)].iterrows():
                           
        if name in x['Description']:
            x_re = re.compile(r'(\w\.\w+)')
            player = x_re.findall(x['Description'])
            if len(player) > 1:
                if (name == player[1]):
                    total_yards += x['Yards']
                    total_tds += x['IsTouchdown']
    return (year, total_yards, total_tds)

#tested for d.amendola  
da_yr, da_yds, da_tds = get_stats('80-D.AMENDOLA', df13, 2013)
print(da_yr, da_yds, da_tds)

13 0 0

In [312]:
da_test = df19[(df13['PlayType'] == 'PASS') & (df19['Description'].str.contains('A.BROWN'))]
da_test.to_csv('datest.csv')

<ipython-input-312-59d5565a8341>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  da_test = df19[(df13['PlayType'] == 'PASS') & (df19['Description'].str.contains('A.BROWN'))]

In [313]:
#created empty bins for comparison later
pre_brady = {}
with_brady = {}
post_brady = {}

#created lists for easier loop access
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
bins = [bin_2013, bin_2014, bin_2015, bin_2016, bin_2017, bin_2018, bin_2019, bin_2020]
dfs = [df13, df14, df15, df16, df17, df18, df19, df20]

In [314]:
#create the initial bin
for x in bin_2013:
    if x not in with_brady.keys():
        with_brady[x] = [get_stats(x, df13, 2013)]
#print(list(with_brady.items()))
#print(list(with_brady.keys()))

for s in range(1,3):
    for name in bins[s]:
        if name not in bins[s-1]:
            if name not in pre_brady.keys():
                pre_brady[name] = [get_stats(name, dfs[s], years[s])]
            else:
                pre_brady[name] += [get_stats(name, dfs[s], years[s])]
        elif name not in bins[s+1]:
            if name not in post_brady.keys():
                post_brady[name] = [get_stats(name, dfs[s], years[s])]
            else:
                post_brady[name] += [get_stats(name, dfs[s], years[s])]
        else:
            if name not in with_brady.keys():
                with_brady[name] = [get_stats(name, dfs[s], years[s])]
            else:
                with_brady[name] += [get_stats(name, dfs[s], years[s])]

In [315]:
for s in range(1,len(bins)-1):
    for name in bins[s]:
        if name not in bins[s-1]:
            if name not in pre_brady.keys():
                pre_brady[name] = []
            for y in range(0,s):
                pre_brady[name] += [get_stats(name, dfs[y], years[y])]
                   
        if name not in bins[s+1]:
            if name not in post_brady.keys():
                post_brady[name] = []
            for y in range(s+1,len(bins)):
                post_brady[name] += [get_stats(name, dfs[y], years[y])]       
                
        if True:
            if name not in with_brady.keys():
                with_brady[name] = [get_stats(name, dfs[s], years[s])]
            else:
                with_brady[name] += [get_stats(name, dfs[s], years[s])]
#create the final bin              
for name in bin_2020:
    if name not in bin_2019:
        if name not in pre_brady.keys():
            pre_brady[name] = []
        for y in range(0,len(years)-1):
            pre_brady[name] += [get_stats(name, dfs[y], years[y])]
            
    if name not in with_brady.keys():
        with_brady[name] = [get_stats(x, df20, 2020)]
    else:
        with_brady[name] += [get_stats(x, df20, 2020)]

In [316]:
#Get rid of brady in the pre bin to avoid confusion
pre_brady = {key:val for key, val in pre_brady.items() if key != QB}

print('pre')
print(pre_brady.items())
print('Post')
print(post_brady.items())
print('with')
print(list(with_brady.items()))

In [341]:
players = pd.DataFrame(columns = ['Name', 'Bucket', 'Year', 'Yards', 'TD'])


for key, value in pre_brady.items():
    for x in range(len(value)):
        players = players.append({'Name':key, 'Bucket':'Pre', 'Year':value[x][0], \
                                 'Yards':value[x][1], 'TD':value[x][2]}, ignore_index = True)

for key, value in with_brady.items():
    for x in range(len(value)):
        players = players.append({'Name':key, 'Bucket':'With', 'Year':value[x][0], \
                                 'Yards':value[x][1], 'TD':value[x][2]}, ignore_index = True)

for key, value in post_brady.items():
    for x in range(len(value)):
        players = players.append({'Name':key, 'Bucket':'Post', 'Year':value[x][0], \
                                 'Yards':value[x][1], 'TD':value[x][2]}, ignore_index = True)
    

    






players = players.sort_values(by = ['Name', 'Year'])
print(players[players['Name'] == 'D.AMENDOLA'])

           Name Bucket Year Yards TD
261  D.AMENDOLA   With   13   633  2
262  D.AMENDOLA   With   14   193  1
263  D.AMENDOLA   With   15   653  3
264  D.AMENDOLA   With   16   238  4
265  D.AMENDOLA   With   17   637  2
521  D.AMENDOLA   Post   18   565  1
522  D.AMENDOLA   Post   19   662  1
523  D.AMENDOLA   Post   20   564  0

In [356]:
master_list = []

for x in bins:
    for i in x:
        if i not in master_list:
            master_list.append(i)
            
avg_df = pd.DataFrame(columns = ['Name', 'Bucket', 'Yards', 'TD'])

for x in master_list:
    pdf = players[players['Name'] == x]
    #print(pdf.head())
    for s in ['Pre', 'With', 'Post']:    
    #['Pre', 'Width', 'Post']:
        bdf = pdf[pdf['Bucket'] == s]
        print(x)
        print(s)
        print(bdf.head())
        if len(bdf) > 1:
            avg_yds = bdf['Yards'].mean()
            print(avg_yds)
            avg_tds = bdf['TD'].mean()
            avg_df = avg_df.append({'Name':x, 'Bucket':s, 'Yards':avg_yds, 'TD':avg_tds}, ignore_index = True)

            
print('final')
print(avg_df.head())

D.AMENDOLA
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
D.AMENDOLA
With
           Name Bucket Year Yards TD
261  D.AMENDOLA   With   13   633  2
262  D.AMENDOLA   With   14   193  1
263  D.AMENDOLA   With   15   653  3
264  D.AMENDOLA   With   16   238  4
265  D.AMENDOLA   With   17   637  2
470.8
D.AMENDOLA
Post
           Name Bucket Year Yards TD
521  D.AMENDOLA   Post   18   565  1
522  D.AMENDOLA   Post   19   662  1
523  D.AMENDOLA   Post   20   564  0
597.0
J.EDELMAN
Pre
         Name Bucket Year Yards TD
78  J.EDELMAN    Pre   13  1045  5
79  J.EDELMAN    Pre   14   922  4
80  J.EDELMAN    Pre   15   651  7
81  J.EDELMAN    Pre   16   919  2
82  J.EDELMAN    Pre   17     0  0
707.4
J.EDELMAN
With
          Name Bucket Year Yards TD
266  J.EDELMAN   With   13  1045  5
267  J.EDELMAN   With   14   922  4
268  J.EDELMAN   With   15   651  7
269  J.EDELMAN   With   16   919  2
270  J.EDELMAN   With   18   823  6
908.1666666666666
J.EDELMAN
Post
          Name Bucket Year Yards TD
500  J.EDELMAN   Post   17     0  0
501  J.EDELMAN   Post   18   823  6
502  J.EDELMAN   Post   19  1089  7
503  J.EDELMAN   Post   20   315  0
504  J.EDELMAN   Post   20   315  0
508.4
K.THOMPKINS
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
K.THOMPKINS
With
            Name Bucket Year Yards TD
272  K.THOMPKINS   With   13   440  4
273  K.THOMPKINS   With   14   262  0
351.0
K.THOMPKINS
Post
            Name Bucket Year Yards TD
390  K.THOMPKINS   Post   15   165  0
391  K.THOMPKINS   Post   16     0  0
392  K.THOMPKINS   Post   17     0  0
393  K.THOMPKINS   Post   18     0  0
394  K.THOMPKINS   Post   19     0  0
27.5
S.VEREEN
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
S.VEREEN
With
         Name Bucket Year Yards TD
274  S.VEREEN   With   13   426  3
275  S.VEREEN   With   14   471  3
448.5
S.VEREEN
Post
         Name Bucket Year Yards TD
384  S.VEREEN   Post   15   423  4
385  S.VEREEN   Post   16    94  0
386  S.VEREEN   Post   17   238  0
387  S.VEREEN   Post   18     0  0
388  S.VEREEN   Post   19     0  0
125.83333333333333
Z.SUDFELD
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
Z.SUDFELD
With
          Name Bucket Year Yards TD
276  Z.SUDFELD   With   13    38  0
Z.SUDFELD
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
M.HOOMANAWANUI
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
M.HOOMANAWANUI
With
               Name Bucket Year Yards TD
277  M.HOOMANAWANUI   With   13   134  1
278  M.HOOMANAWANUI   With   14    44  0
89.0
M.HOOMANAWANUI
Post
               Name Bucket Year Yards TD
428  M.HOOMANAWANUI   Post   15    76  3
429  M.HOOMANAWANUI   Post   16     0  0
430  M.HOOMANAWANUI   Post   17    52  1
431  M.HOOMANAWANUI   Post   18     0  0
432  M.HOOMANAWANUI   Post   19     0  0
21.333333333333332
A.DOBSON
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
A.DOBSON
With
         Name Bucket Year Yards TD
279  A.DOBSON   With   13   522  4
280  A.DOBSON   With   14    25  0
281  A.DOBSON   With   15   141  0
229.33333333333334
A.DOBSON
Post
         Name Bucket Year Yards TD
446  A.DOBSON   Post   16     0  0
447  A.DOBSON   Post   17     0  0
448  A.DOBSON   Post   18     0  0
449  A.DOBSON   Post   19     0  0
450  A.DOBSON   Post   20     0  0
0.0
J.DEVELIN
Pre
         Name Bucket Year Yards TD
31  J.DEVELIN    Pre   13    62  0
32  J.DEVELIN    Pre   14    43  0
33  J.DEVELIN    Pre   15     0  0
35.0
J.DEVELIN
With
          Name Bucket Year Yards TD
282  J.DEVELIN   With   13    62  0
283  J.DEVELIN   With   14    43  0
284  J.DEVELIN   With   16    18  0
285  J.DEVELIN   With   17    38  0
286  J.DEVELIN   With   18    61  0
44.4
J.DEVELIN
Post
          Name Bucket Year Yards TD
420  J.DEVELIN   Post   15     0  0
421  J.DEVELIN   Post   16    18  0
422  J.DEVELIN   Post   17    38  0
423  J.DEVELIN   Post   18    61  0
424  J.DEVELIN   Post   19     0  0
14.625
B.BOLDEN
Pre
        Name Bucket Year Yards TD
68  B.BOLDEN    Pre   13   141  0
72  B.BOLDEN    Pre   13   141  0
69  B.BOLDEN    Pre   14     8  0
73  B.BOLDEN    Pre   14     8  0
70  B.BOLDEN    Pre   15   175  2
69.8
B.BOLDEN
With
         Name Bucket Year Yards TD
287  B.BOLDEN   With   13   141  0
288  B.BOLDEN   With   14     8  0
289  B.BOLDEN   With   15   175  2
290  B.BOLDEN   With   17     7  0
291  B.BOLDEN   With   19   111  1
88.4
B.BOLDEN
Post
         Name Bucket Year Yards TD
456  B.BOLDEN   Post   16    15  0
457  B.BOLDEN   Post   17     7  0
458  B.BOLDEN   Post   18    13  1
461  B.BOLDEN   Post   18    13  1
459  B.BOLDEN   Post   19   111  1
30.0
S.RIDLEY
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
S.RIDLEY
With
         Name Bucket Year Yards TD
292  S.RIDLEY   With   13    63  0
293  S.RIDLEY   With   14    20  0
41.5
S.RIDLEY
Post
         Name Bucket Year Yards TD
402  S.RIDLEY   Post   15    -2  0
403  S.RIDLEY   Post   16     0  0
404  S.RIDLEY   Post   17     0  0
405  S.RIDLEY   Post   18    18  0
406  S.RIDLEY   Post   19     0  0
2.6666666666666665
M.MULLIGAN
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
M.MULLIGAN
With
           Name Bucket Year Yards TD
294  M.MULLIGAN   With   13    16  1
M.MULLIGAN
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
J.BOYCE
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
J.BOYCE
With
        Name Bucket Year Yards TD
295  J.BOYCE   With   13   121  0
J.BOYCE
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
A.COLLIE
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
A.COLLIE
With
         Name Bucket Year Yards TD
296  A.COLLIE   With   13    63  0
A.COLLIE
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
R.GRONKOWSKI
Pre
             Name Bucket Year Yards  TD
198  R.GRONKOWSKI    Pre   13   573   3
199  R.GRONKOWSKI    Pre   14  1110  12
200  R.GRONKOWSKI    Pre   15  1131  11
201  R.GRONKOWSKI    Pre   16   528   3
202  R.GRONKOWSKI    Pre   17  1084   8
729.0
R.GRONKOWSKI
With
             Name Bucket Year Yards  TD
297  R.GRONKOWSKI   With   13   573   3
298  R.GRONKOWSKI   With   14  1110  12
299  R.GRONKOWSKI   With   15  1131  11
300  R.GRONKOWSKI   With   16   528   3
301  R.GRONKOWSKI   With   17  1084   8
729.0
R.GRONKOWSKI
Post
             Name Bucket Year Yards TD
541  R.GRONKOWSKI   Post   19     0  0
542  R.GRONKOWSKI   Post   20   596  5
298.0
S.PHILLIPS
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
S.PHILLIPS
With
           Name Bucket Year Yards TD
304  S.PHILLIPS   With   13    -2  0
S.PHILLIPS
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
L.BLOUNT
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
L.BLOUNT
With
         Name Bucket Year Yards TD
305  L.BLOUNT   With   13    38  0
306  L.BLOUNT   With   14    54  0
307  L.BLOUNT   With   15    43  1
308  L.BLOUNT   With   16    38  0
43.25
L.BLOUNT
Post
         Name Bucket Year Yards TD
513  L.BLOUNT   Post   17    50  1
514  L.BLOUNT   Post   18    67  0
515  L.BLOUNT   Post   19     0  0
516  L.BLOUNT   Post   20     0  0
29.25
B.LAFELL
Pre
       Name Bucket Year Yards TD
0  B.LAFELL    Pre   13   620  5
B.LAFELL
With
         Name Bucket Year Yards TD
309  B.LAFELL   With   14   911  8
310  B.LAFELL   With   15   491  0
701.0
B.LAFELL
Post
         Name Bucket Year Yards TD
470  B.LAFELL   Post   16   795  6
471  B.LAFELL   Post   17   548  3
472  B.LAFELL   Post   18   135  2
473  B.LAFELL   Post   19     0  0
474  B.LAFELL   Post   20     0  0
295.6
T.WRIGHT
Pre
       Name Bucket Year Yards TD
1  T.WRIGHT    Pre   13   517  5
T.WRIGHT
With
         Name Bucket Year Yards TD
311  T.WRIGHT   With   14   259  6
T.WRIGHT
Post
         Name Bucket Year Yards TD
396  T.WRIGHT   Post   15    68  1
397  T.WRIGHT   Post   16     0  0
398  T.WRIGHT   Post   17     0  0
399  T.WRIGHT   Post   18     0  0
400  T.WRIGHT   Post   19     0  0
11.333333333333334
T.BRADY
Pre
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
T.BRADY
With
        Name Bucket Year Yards TD
312  T.BRADY   With   14   109  0
313  T.BRADY   With   16   205  1
314  T.BRADY   With   18    41  0
315  T.BRADY   With   20     0  0
88.75
T.BRADY
Post
        Name Bucket Year Yards TD
408  T.BRADY   Post   15     0  0
409  T.BRADY   Post   16   205  1
410  T.BRADY   Post   17     0  0
414  T.BRADY   Post   17     0  0
411  T.BRADY   Post   18    41  0
48.916666666666664
B.TYMS
Pre
     Name Bucket Year Yards TD
2  B.TYMS    Pre   13    12  0
B.TYMS
With
       Name Bucket Year Yards TD
316  B.TYMS   With   14    82  1
B.TYMS
Post
       Name Bucket Year Yards TD
434  B.TYMS   Post   15     0  0
435  B.TYMS   Post   16     0  0
436  B.TYMS   Post   17     0  0
437  B.TYMS   Post   18     0  0
438  B.TYMS   Post   19     0  0
0.0
J.GRAY
Pre
     Name Bucket Year Yards TD
3  J.GRAY    Pre   13     0  0
J.GRAY
With
       Name Bucket Year Yards TD
317  J.GRAY   With   14     7  0
J.GRAY
Post
       Name Bucket Year Yards TD
440  J.GRAY   Post   15    72  0
441  J.GRAY   Post   16     0  0
442  J.GRAY   Post   17     0  0
443  J.GRAY   Post   18     0  0
444  J.GRAY   Post   19     0  0
12.0
K.MARTIN
Pre
       Name Bucket Year Yards TD
4  K.MARTIN    Pre   13   253  2
5  K.MARTIN    Pre   14    78  0
165.5
K.MARTIN
With
         Name Bucket Year Yards TD
318  K.MARTIN   With   15   265  2
K.MARTIN
Post
         Name Bucket Year Yards TD
451  K.MARTIN   Post   16     0  0
452  K.MARTIN   Post   17     0  0
453  K.MARTIN   Post   18     0  0
454  K.MARTIN   Post   19     0  0
455  K.MARTIN   Post   20     0  0
0.0
D.LEWIS
Pre
      Name Bucket Year Yards TD
6  D.LEWIS    Pre   13     0  0
7  D.LEWIS    Pre   14     0  0
0.0
D.LEWIS
With
        Name Bucket Year Yards TD
319  D.LEWIS   With   15   370  3
320  D.LEWIS   With   16    87  0
321  D.LEWIS   With   17   218  3
225.0
D.LEWIS
Post
        Name Bucket Year Yards TD
530  D.LEWIS   Post   18   371  1
531  D.LEWIS   Post   19   164  1
532  D.LEWIS   Post   20   127  1
220.66666666666666
J.WHITE
Pre
      Name Bucket Year Yards TD
8  J.WHITE    Pre   13     0  0
9  J.WHITE    Pre   14    23  0
11.5
J.WHITE
With
        Name Bucket Year Yards TD
322  J.WHITE   With   15   347  4
323  J.WHITE   With   16   530  5
324  J.WHITE   With   17   421  3
325  J.WHITE   With   18   739  7
326  J.WHITE   With   19   589  5
525.2
J.WHITE
Post
        Name Bucket Year Yards TD
556  J.WHITE   Post   20   375  1
S.CHANDLER
Pre
          Name Bucket Year Yards TD
10  S.CHANDLER    Pre   13   655  2
11  S.CHANDLER    Pre   14   475  3
565.0
S.CHANDLER
With
           Name Bucket Year Yards TD
327  S.CHANDLER   With   15   259  4
S.CHANDLER
Post
           Name Bucket Year Yards TD
465  S.CHANDLER   Post   16     0  0
466  S.CHANDLER   Post   17     0  0
467  S.CHANDLER   Post   18     0  0
468  S.CHANDLER   Post   19     0  0
469  S.CHANDLER   Post   20     0  0
0.0
S.JACKSON
Pre
         Name Bucket Year Yards TD
12  S.JACKSON    Pre   13   191  1
13  S.JACKSON    Pre   14   148  0
169.5
S.JACKSON
With
          Name Bucket Year Yards TD
328  S.JACKSON   With   15     0  0
S.JACKSON
Post
          Name Bucket Year Yards TD
475  S.JACKSON   Post   16     0  0
476  S.JACKSON   Post   17     0  0
477  S.JACKSON   Post   18     0  0
478  S.JACKSON   Post   19     0  0
479  S.JACKSON   Post   20     0  0
0.0
M.WILLIAMS
Pre
          Name Bucket Year Yards TD
14  M.WILLIAMS    Pre   13   199  1
15  M.WILLIAMS    Pre   14     0  0
99.5
M.WILLIAMS
With
           Name Bucket Year Yards TD
329  M.WILLIAMS   With   15   241  1
M.WILLIAMS
Post
           Name Bucket Year Yards  TD
480  M.WILLIAMS   Post   16     0   0
481  M.WILLIAMS   Post   17   211   1
482  M.WILLIAMS   Post   18   800  11
483  M.WILLIAMS   Post   19  1256   4
484  M.WILLIAMS   Post   20   817   6
616.8
T.CADET
Pre
       Name Bucket Year Yards TD
16  T.CADET    Pre   13     5  1
17  T.CADET    Pre   14   297  1
151.0
T.CADET
With
        Name Bucket Year Yards TD
330  T.CADET   With   15   137  1
T.CADET
Post
        Name Bucket Year Yards TD
485  T.CADET   Post   16   274  3
486  T.CADET   Post   17   112  0
487  T.CADET   Post   18     5  0
488  T.CADET   Post   19     0  0
489  T.CADET   Post   20     0  0
78.2
C.HARPER
Pre
        Name Bucket Year Yards TD
18  C.HARPER    Pre   13     0  0
19  C.HARPER    Pre   14     0  0
0.0
C.HARPER
With
         Name Bucket Year Yards TD
331  C.HARPER   With   15     0  0
C.HARPER
Post
         Name Bucket Year Yards TD
490  C.HARPER   Post   16   108  0
491  C.HARPER   Post   17     0  0
492  C.HARPER   Post   18     0  0
493  C.HARPER   Post   19     0  0
494  C.HARPER   Post   20     0  0
21.6
A.CLEVELAND
Pre
           Name Bucket Year Yards TD
20  A.CLEVELAND    Pre   13     0  0
21  A.CLEVELAND    Pre   14     0  0
0.0
A.CLEVELAND
With
            Name Bucket Year Yards TD
332  A.CLEVELAND   With   15     1  0
A.CLEVELAND
Post
            Name Bucket Year Yards TD
495  A.CLEVELAND   Post   16     0  0
496  A.CLEVELAND   Post   17     0  0
497  A.CLEVELAND   Post   18     0  0
498  A.CLEVELAND   Post   19     0  0
499  A.CLEVELAND   Post   20     0  0
0.0
C.HOGAN
Pre
       Name Bucket Year Yards TD
22  C.HOGAN    Pre   13    83  0
23  C.HOGAN    Pre   14   409  4
24  C.HOGAN    Pre   15   448  2
313.3333333333333
C.HOGAN
With
        Name Bucket Year Yards TD
333  C.HOGAN   With   16   594  4
334  C.HOGAN   With   17   439  5
335  C.HOGAN   With   18   506  3
513.0
C.HOGAN
Post
        Name Bucket Year Yards TD
539  C.HOGAN   Post   19    47  0
540  C.HOGAN   Post   20   118  0
82.5
M.MITCHELL
Pre
          Name Bucket Year Yards TD
25  M.MITCHELL    Pre   13     0  0
26  M.MITCHELL    Pre   14     0  0
27  M.MITCHELL    Pre   15     0  0
0.0
M.MITCHELL
With
           Name Bucket Year Yards TD
336  M.MITCHELL   With   16   391  3
M.MITCHELL
Post
           Name Bucket Year Yards TD
505  M.MITCHELL   Post   17     0  0
506  M.MITCHELL   Post   18     0  0
507  M.MITCHELL   Post   19     0  0
508  M.MITCHELL   Post   20     0  0
0.0
M.BENNETT
Pre
         Name Bucket Year Yards TD
28  M.BENNETT    Pre   13   768  6
29  M.BENNETT    Pre   14   923  5
30  M.BENNETT    Pre   15   430  3
707.0
M.BENNETT
With
          Name Bucket Year Yards TD
337  M.BENNETT   With   16   572  6
338  M.BENNETT   With   17   287  0
429.5
M.BENNETT
Post
          Name Bucket Year Yards TD
524  M.BENNETT   Post   18     0  0
525  M.BENNETT   Post   19     0  0
526  M.BENNETT   Post   20     0  0
0.0
M.FLOYD
Pre
       Name Bucket Year Yards  TD
34  M.FLOYD    Pre   13  1141   4
35  M.FLOYD    Pre   14  1670  12
36  M.FLOYD    Pre   15  1393   9
1401.3333333333333
M.FLOYD
With
        Name Bucket Year Yards TD

339  M.FLOYD   With   16   452  4
M.FLOYD
Post
        Name Bucket Year Yards TD
509  M.FLOYD   Post   17    78  0
510  M.FLOYD   Post   18    93  0
511  M.FLOYD   Post   19     0  0
512  M.FLOYD   Post   20     0  0
42.75
M.LENGEL
Pre
        Name Bucket Year Yards TD
37  M.LENGEL    Pre   13     0  0
38  M.LENGEL    Pre   14     0  0
39  M.LENGEL    Pre   15     0  0
0.0
M.LENGEL
With
         Name Bucket Year Yards TD
340  M.LENGEL   With   16    18  1
M.LENGEL
Post
         Name Bucket Year Yards TD
517  M.LENGEL   Post   17     0  0
518  M.LENGEL   Post   18    17  1
519  M.LENGEL   Post   19     0  0
520  M.LENGEL   Post   20     0  0
4.25
R.BURKHEAD
Pre
          Name Bucket Year Yards TD
40  R.BURKHEAD    Pre   13     0  0
41  R.BURKHEAD    Pre   14    49  0
42  R.BURKHEAD    Pre   15    94  1
43  R.BURKHEAD    Pre   16   114  0
64.25
R.BURKHEAD
With
           Name Bucket Year Yards TD
341  R.BURKHEAD   With   17   241  3
342  R.BURKHEAD   With   18   131  1
343  R.BURKHEAD   With   19   196  0
189.33333333333334
R.BURKHEAD
Post
           Name Bucket Year Yards TD
554  R.BURKHEAD   Post   20   192  3
B.COOKS
Pre
       Name Bucket Year Yards  TD
44  B.COOKS    Pre   13     0   0
45  B.COOKS    Pre   14   550   3
46  B.COOKS    Pre   15  1117  10
47  B.COOKS    Pre   16  1038   7
676.25
B.COOKS
With
        Name Bucket Year Yards TD
344  B.COOKS   With   17  1082  7
B.COOKS
Post
        Name Bucket Year Yards TD
527  B.COOKS   Post   18  1170  6
528  B.COOKS   Post   19   480  1
529  B.COOKS   Post   20  1113  6
921.0
D.ALLEN
Pre
       Name Bucket Year Yards TD
48  D.ALLEN    Pre   13    20  1
49  D.ALLEN    Pre   14   393  8
50  D.ALLEN    Pre   15   109  1
51  D.ALLEN    Pre   16   371  4
223.25
D.ALLEN
With
        Name Bucket Year Yards TD
345  D.ALLEN   With   17    86  1
346  D.ALLEN   With   18    27  0
56.5
D.ALLEN
Post
        Name Bucket Year Yards TD
545  D.ALLEN   Post   19     0  0
546  D.ALLEN   Post   20     0  0
0.0
J.HOLLISTER
Pre
           Name Bucket Year Yards TD
52  J.HOLLISTER    Pre   13     0  0
53  J.HOLLISTER    Pre   14     0  0
54  J.HOLLISTER    Pre   15     0  0
55  J.HOLLISTER    Pre   16     0  0
0.0
J.HOLLISTER
With
            Name Bucket Year Yards TD
347  J.HOLLISTER   With   17    42  0
348  J.HOLLISTER   With   18    52  0
47.0
J.HOLLISTER
Post
            Name Bucket Year Yards TD
547  J.HOLLISTER   Post   19   287  3
548  J.HOLLISTER   Post   20   209  3
248.0
P.DORSETT
Pre
         Name Bucket Year Yards TD
56  P.DORSETT    Pre   13     0  0
57  P.DORSETT    Pre   14     0  0
58  P.DORSETT    Pre   15   197  1
59  P.DORSETT    Pre   16   473  2
167.5
P.DORSETT
With
          Name Bucket Year Yards TD
349  P.DORSETT   With   17   194  0
350  P.DORSETT   With   18   290  3
351  P.DORSETT   With   19   347  5
277.0
P.DORSETT
Post
          Name Bucket Year Yards TD
558  P.DORSETT   Post   20     0  0
K.BRITT
Pre
       Name Bucket Year Yards TD
60  K.BRITT    Pre   13    96  0
61  K.BRITT    Pre   14   748  3
62  K.BRITT    Pre   15   560  2
63  K.BRITT    Pre   16   956  5
590.0
K.BRITT
With
        Name Bucket Year Yards TD
352  K.BRITT   With   17   237  1
K.BRITT
Post
        Name Bucket Year Yards TD
533  K.BRITT   Post   18     0  0
534  K.BRITT   Post   19     0  0
535  K.BRITT   Post   20     0  0
0.0
M.GILLISLEE
Pre
           Name Bucket Year Yards TD
64  M.GILLISLEE    Pre   13     0  0
65  M.GILLISLEE    Pre   14     0  0
66  M.GILLISLEE    Pre   15    30  1
67  M.GILLISLEE    Pre   16    39  1
17.25
M.GILLISLEE
With
            Name Bucket Year Yards TD
353  M.GILLISLEE   With   17    15  0
M.GILLISLEE
Post
            Name Bucket Year Yards TD
536  M.GILLISLEE   Post   18     9  0
537  M.GILLISLEE   Post   19     0  0
538  M.GILLISLEE   Post   20     0  0
3.0
C.PATTERSON
Pre
           Name Bucket Year Yards TD
83  C.PATTERSON    Pre   13   469  4
84  C.PATTERSON    Pre   14   384  1
85  C.PATTERSON    Pre   15    10  0
86  C.PATTERSON    Pre   16   394  1
87  C.PATTERSON    Pre   17   274  0
306.2
C.PATTERSON
With
            Name Bucket Year Yards TD
354  C.PATTERSON   With   18   248  3
C.PATTERSON
Post
            Name Bucket Year Yards TD
543  C.PATTERSON   Post   19    83  0
544  C.PATTERSON   Post   20   132  0
107.5
J.GORDON
Pre
        Name Bucket Year Yards TD
88  J.GORDON    Pre   13  1646  9
89  J.GORDON    Pre   14   292  0
90  J.GORDON    Pre   15     0  0
91  J.GORDON    Pre   16     0  0
92  J.GORDON    Pre   17   337  2
455.0
J.GORDON
With
         Name Bucket Year Yards TD
355  J.GORDON   With   18   722  4
356  J.GORDON   With   19   427  1
574.5
J.GORDON
Post
         Name Bucket Year Yards TD
562  J.GORDON   Post   20     0  0
S.MICHEL
Pre
        Name Bucket Year Yards TD
93  S.MICHEL    Pre   13     0  0
94  S.MICHEL    Pre   14     0  0
95  S.MICHEL    Pre   15     0  0
96  S.MICHEL    Pre   16     0  0
97  S.MICHEL    Pre   17     0  0
0.0
S.MICHEL
With
         Name Bucket Year Yards TD
357  S.MICHEL   With   18    50  0
358  S.MICHEL   With   19    89  0
69.5
S.MICHEL
Post
         Name Bucket Year Yards TD
552  S.MICHEL   Post   20   114  1
J.HILL
Pre
       Name Bucket Year Yards TD
98   J.HILL    Pre   13    44  1
99   J.HILL    Pre   14   393  5
100  J.HILL    Pre   15   174  3
101  J.HILL    Pre   16   235  0
102  J.HILL    Pre   17   134  1
196.0
J.HILL
With
       Name Bucket Year Yards TD
359  J.HILL   With   18   191  1
J.HILL
Post
       Name Bucket Year Yards TD
549  J.HILL   Post   19   203  3
550  J.HILL   Post   20    66  1
134.5
N.HARRY
Pre
        Name Bucket Year Yards TD
103  N.HARRY    Pre   13     0  0
104  N.HARRY    Pre   14     0  0
105  N.HARRY    Pre   15     0  0
106  N.HARRY    Pre   16     0  0
107  N.HARRY    Pre   17     0  0
0.0
N.HARRY
With
        Name Bucket Year Yards TD
360  N.HARRY   With   19    55  2
N.HARRY
Post
        Name Bucket Year Yards TD
551  N.HARRY   Post   20   296  2
M.LACOSSE
Pre
          Name Bucket Year Yards TD
109  M.LACOSSE    Pre   13     0  0
110  M.LACOSSE    Pre   14     0  0
111  M.LACOSSE    Pre   15    22  0
112  M.LACOSSE    Pre   16     0  0
113  M.LACOSSE    Pre   17     0  0
45.333333333333336
M.LACOSSE
With
          Name Bucket Year Yards TD
361  M.LACOSSE   With   19   123  0
M.LACOSSE
Post
          Name Bucket Year Yards TD
553  M.LACOSSE   Post   20     0  0
M.SANU
Pre
       Name Bucket Year Yards TD
115  M.SANU    Pre   13   457  2
116  M.SANU    Pre   14   781  5
117  M.SANU    Pre   15   388  0
118  M.SANU    Pre   16   621  3
119  M.SANU    Pre   17   737  6
635.6666666666666
M.SANU
With
       Name Bucket Year Yards TD
362  M.SANU   With   19   455  2
M.SANU
Post
       Name Bucket Year Yards TD
555  M.SANU   Post   20   187  1
B.WATSON
Pre
         Name Bucket Year Yards TD
121  B.WATSON    Pre   13   226  2
122  B.WATSON    Pre   14   136  2
123  B.WATSON    Pre   15   767  5
124  B.WATSON    Pre   16     0  0
125  B.WATSON    Pre   17   520  3
342.8333333333333
B.WATSON
With
         Name Bucket Year Yards TD
363  B.WATSON   With   19   148  0
B.WATSON
Post
         Name Bucket Year Yards TD
557  B.WATSON   Post   20     0  0
J.MEYERS
Pre
         Name Bucket Year Yards TD
127  J.MEYERS    Pre   13     0  0
128  J.MEYERS    Pre   14     0  0
129  J.MEYERS    Pre   15     0  0
130  J.MEYERS    Pre   16     0  0
131  J.MEYERS    Pre   17     0  0
0.0
J.MEYERS
With
         Name Bucket Year Yards TD
364  J.MEYERS   With   19   334  0
J.MEYERS
Post
         Name Bucket Year Yards TD
559  J.MEYERS   Post   20   628  0
E.TOMLINSON
Pre
            Name Bucket Year Yards TD
133  E.TOMLINSON    Pre   13     0  0
134  E.TOMLINSON    Pre   14     0  0
135  E.TOMLINSON    Pre   15     0  0
136  E.TOMLINSON    Pre   16     0  0
137  E.TOMLINSON    Pre   17   121  1
30.333333333333332
E.TOMLINSON
With
            Name Bucket Year Yards TD
365  E.TOMLINSON   With   19     1  0
E.TOMLINSON
Post
            Name Bucket Year Yards TD
560  E.TOMLINSON   Post   20     0  0
R.IZZO
Pre
       Name Bucket Year Yards TD
139  R.IZZO    Pre   13     0  0
140  R.IZZO    Pre   14     0  0
141  R.IZZO    Pre   15     0  0
142  R.IZZO    Pre   16     0  0
143  R.IZZO    Pre   17     0  0
0.0
R.IZZO
With
       Name Bucket Year Yards TD
366  R.IZZO   With   19   114  1
R.IZZO
Post
       Name Bucket Year Yards TD
561  R.IZZO   Post   20   199  0
K.JOHNSON
Pre
          Name Bucket Year Yards TD
145  K.JOHNSON    Pre   13     0  0
146  K.JOHNSON    Pre   14     0  0
147  K.JOHNSON    Pre   15     0  0
148  K.JOHNSON    Pre   16     0  0
149  K.JOHNSON    Pre   17     0  0
35.5
K.JOHNSON
With
          Name Bucket Year Yards TD
367  K.JOHNSON   With   19   313  2
K.JOHNSON
Post
          Name Bucket Year Yards TD
563  K.JOHNSON   Post   20   380  2
A.BROWN
Pre
        Name Bucket Year Yards  TD
151  A.BROWN    Pre   13  1515   8
152  A.BROWN    Pre   14  1606  12
153  A.BROWN    Pre   15  1695  10
154  A.BROWN    Pre   16  1320  10
155  A.BROWN    Pre   17  1983  12
1565.1666666666667
A.BROWN
With
        Name Bucket Year Yards TD
368  A.BROWN   With   19   928  7
369  A.BROWN   With   20     0  0
464.0
A.BROWN
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
G.OLSZEWSKI
Pre
            Name Bucket Year Yards TD
157  G.OLSZEWSKI    Pre   13     0  0
158  G.OLSZEWSKI    Pre   14     0  0
159  G.OLSZEWSKI    Pre   15     0  0
160  G.OLSZEWSKI    Pre   16     0  0
161  G.OLSZEWSKI    Pre   17     0  0
0.0
G.OLSZEWSKI
With
            Name Bucket Year Yards TD
370  G.OLSZEWSKI   With   19    34  0
G.OLSZEWSKI
Post
            Name Bucket Year Yards TD
564  G.OLSZEWSKI   Post   20    67  1
C.GODWIN
Pre
         Name Bucket Year Yards TD
163  C.GODWIN    Pre   13     0  0
164  C.GODWIN    Pre   14     0  0
165  C.GODWIN    Pre   15     0  0
166  C.GODWIN    Pre   16     0  0
167  C.GODWIN    Pre   17   525  1
374.85714285714283
C.GODWIN
With
         Name Bucket Year Yards TD
371  C.GODWIN   With   20     0  0
C.GODWIN
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
L.FOURNETTE
Pre
            Name Bucket Year Yards TD
170  L.FOURNETTE    Pre   13     0  0
171  L.FOURNETTE    Pre   14     0  0
172  L.FOURNETTE    Pre   15     0  0
173  L.FOURNETTE    Pre   16     0  0
174  L.FOURNETTE    Pre   17   274  1
136.71428571428572
L.FOURNETTE
With
            Name Bucket Year Yards TD
372  L.FOURNETTE   With   20     0  0
L.FOURNETTE
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
S.MILLER
Pre
         Name Bucket Year Yards TD
177  S.MILLER    Pre   13     0  0
178  S.MILLER    Pre   14     0  0
179  S.MILLER    Pre   15     0  0
180  S.MILLER    Pre   16     0  0
181  S.MILLER    Pre   17     0  0
20.571428571428573
S.MILLER
With
         Name Bucket Year Yards TD
373  S.MILLER   With   20     0  0
S.MILLER
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
T.JOHNSON
Pre
          Name Bucket Year Yards TD
184  T.JOHNSON    Pre   13     0  0
185  T.JOHNSON    Pre   14     7  0
186  T.JOHNSON    Pre   15     0  0
187  T.JOHNSON    Pre   16     0  0
188  T.JOHNSON    Pre   17     0  0
15.571428571428571
T.JOHNSON
With
          Name Bucket Year Yards TD
374  T.JOHNSON   With   20     0  0
T.JOHNSON
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
C.BRATE
Pre
        Name Bucket Year Yards TD
191  C.BRATE    Pre   13     0  0
192  C.BRATE    Pre   14    17  0
193  C.BRATE    Pre   15   278  3
194  C.BRATE    Pre   16   649  8
195  C.BRATE    Pre   17   590  6
298.7142857142857
C.BRATE
With
        Name Bucket Year Yards TD
375  C.BRATE   With   20     0  0
C.BRATE
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
M.EVANS
Pre
        Name Bucket Year Yards  TD
205  M.EVANS    Pre   13     0   0
206  M.EVANS    Pre   14   946   9
207  M.EVANS    Pre   15  1022   3
208  M.EVANS    Pre   16  1238  11
209  M.EVANS    Pre   17   923   6
953.4285714285714
M.EVANS
With
        Name Bucket Year Yards TD
376  M.EVANS   With   20     0  0
M.EVANS
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
R.JONES
Pre
        Name Bucket Year Yards TD
212  R.JONES    Pre   13     0  0
213  R.JONES    Pre   14     0  0
214  R.JONES    Pre   15     0  0
215  R.JONES    Pre   16     0  0
216  R.JONES    Pre   17     0  0
42.857142857142854
R.JONES
With
        Name Bucket Year Yards TD
377  R.JONES   With   20     0  0
R.JONES
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
J.WATSON
Pre
         Name Bucket Year Yards TD
219  J.WATSON    Pre   13     0  0
220  J.WATSON    Pre   14     0  0
221  J.WATSON    Pre   15     0  0
222  J.WATSON    Pre   16     0  0
223  J.WATSON    Pre   17     0  0
13.428571428571429
J.WATSON
With
         Name Bucket Year Yards TD
378  J.WATSON   With   20     0  0
J.WATSON
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
O.HOWARD
Pre
         Name Bucket Year Yards TD
226  O.HOWARD    Pre   13     0  0
227  O.HOWARD    Pre   14     0  0
228  O.HOWARD    Pre   15     0  0
229  O.HOWARD    Pre   16     0  0
230  O.HOWARD    Pre   17   527  7
215.57142857142858
O.HOWARD
With
         Name Bucket Year Yards TD
379  O.HOWARD   With   20     0  0
O.HOWARD
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
L.MCCOY
Pre
        Name Bucket Year Yards TD
233  L.MCCOY    Pre   13   523  2
234  L.MCCOY    Pre   14   156  0
235  L.MCCOY    Pre   15   263  2
236  L.MCCOY    Pre   16   335  1
237  L.MCCOY    Pre   17   445  2
300.0
L.MCCOY
With
        Name Bucket Year Yards TD
380  L.MCCOY   With   20     0  0
L.MCCOY
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
K.VAUGHN
Pre
         Name Bucket Year Yards TD
240  K.VAUGHN    Pre   13     0  0
241  K.VAUGHN    Pre   14     0  0
242  K.VAUGHN    Pre   15     0  0
243  K.VAUGHN    Pre   16     0  0
244  K.VAUGHN    Pre   17     0  0
0.0
K.VAUGHN
With
         Name Bucket Year Yards TD
381  K.VAUGHN   With   20     0  0
K.VAUGHN
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
J.MICKENS
Pre
          Name Bucket Year Yards TD
247  J.MICKENS    Pre   13     0  0
248  J.MICKENS    Pre   14     0  0
249  J.MICKENS    Pre   15     0  0
250  J.MICKENS    Pre   16     0  0
251  J.MICKENS    Pre   17    77  2
11.0
J.MICKENS
With
          Name Bucket Year Yards TD
382  J.MICKENS   With   20     0  0
J.MICKENS
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
T.HUDSON
Pre
         Name Bucket Year Yards TD
254  T.HUDSON    Pre   13     0  0
255  T.HUDSON    Pre   14     0  0
256  T.HUDSON    Pre   15     0  0
257  T.HUDSON    Pre   16     0  0
258  T.HUDSON    Pre   17     0  0
1.7142857142857142
T.HUDSON
With
         Name Bucket Year Yards TD
383  T.HUDSON   With   20     0  0
T.HUDSON
Post
Empty DataFrame
Columns: [Name, Bucket, Year, Yards, TD]
Index: []
final
         Name Bucket       Yards        TD
0  D.AMENDOLA   With  470.800000  2.400000
1  D.AMENDOLA   Post  597.000000  0.666667
2   J.EDELMAN    Pre  707.400000  3.600000
3   J.EDELMAN   With  908.166667  5.166667
4   J.EDELMAN   Post  508.400000  2.600000